<%# if object.errors.any? %>
  <!--<div class="">-->
    <!--<h2>You entered some invalid details</h2>-->
    <!--<ul>-->
      <!--<%# for message in object.errors.full_messages %>-->
        <!--<li><%=# message %></li>-->
      <!--<# end %>-->
    <!--</ul>-->
  <!--</div>-->
<%# end %>
